.page
    .toolbar-top
        div(
            ng-click="gotoStarred()"
            class="btn btn-default mdi-2x mdi-action-stars {{ filterFavourites ? ('btn-material-' + user.theme) : '' }}"
        )
        div(
            ng-click="gotoBookmarks()"
            class="btn btn-default mdi-2x mdi-action-turned-in {{ filterBookmarks ? ('btn-material-' + user.theme) : '' }}"
        )
        .btn.btn-default.mdi-2x.mdi-action-pageview(ng-click="gotoSearch()")
        .btn.btn-default.mdi-2x.mdi-content-add(ng-click="createNewNote()")
        
    .toolbar-bottom
        .btn.btn-default.mdi-2x.mdi-communication-invert-colors-on(ng-click="invertColors()")
        div(
            ng-click="gotoUserProfile()"
            class="btn btn-default mdi-2x mdi-action-account-box {{ showUserProfile ? ('btn-material-' + user.theme) : '' }}"
        )
    
    .content(ng-if="!showUserProfile")
        subject-tabs(
            selected="currentSubject"
            items="user.subjects"
            theme="user.theme"
        )
        note-list(
            items="allNotes"
            subject="currentSubject"
            selected="currentNote"
            filter-favourites="filterFavourites"
            filter-bookmarks="filterBookmarks"
            show-user-notes="user.enabled"
        )
        note-preview(
            items="allNotes"
            item="currentNote"
        )

    .content(ng-if="showUserProfile")
        user-profile(
            user="user"
        )