form.horizontal-form.user-profile
	br
	.row.form-group
		label.col-lg-2.control-label(for='title') Username
		.col-lg-10
			input#title.form-control(type='text', ng-model='user.username')
	.row.form-group
		label.col-lg-2.control-label(for='group') My group
		.col-lg-10
			input#group.form-control(type='text', ng-model='user.group')

	.row.form-group(ng-if='subjectsTags')
		label.col-lg-2.control-label My subjects
		.col-lg-10
			tagsinput(
			    tagsinput-id='subjectsTags.tagsinputId'
			    init-tags='subjectsTags.initTags'
			    maxtags='subjectsTags.maxTags'
			    maxlength='subjectsTags.maxLength'
				onchanged='onSubjectsChange(data)'
			)

	//- hr
	//- .row.form-group
	//- 	label.col-lg-2.control-label(for='enabled') Show my notes everywhere
	//- 	.col-lg-10
	//- 		input#enabled.form-control(type='checkbox', ng-model='user.enabled')

	hr
	.row.form-group
		label.col-lg-2.control-label(for='fontFamily') Font family
		.col-lg-10
			select#fontFamily.select.form-control(
				ng-model='user.fontFamily'
				ng-options='i as x for (x,i) in fontFamilyOptions'
			)

	.row.form-group
		label.col-lg-2.control-label Theme
		.col-lg-10.theme-selector
			.btn.btn-xs.btn-default(
					ng-repeat='color in colors'
					ng-class='{ "active": color === user.theme }'
					ng-click='selectTheme(color)'
				)
				i(class='mdi-av-stop mdi-material-{{ color }}')
